---
import Base from '../layouts/Base.astro';
import Preloader from '../components/Preloader.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Base>
  <Preloader />
  <Navbar />
  <main>
    <Hero />
  </main>
</Base>
